body {
  background:white;
  color:Black;
  font-family:arial;
  font-size:20px;

}

input {box-sizing: border-box;
  width:45%;
  border:0,5px solid grey;
    border-radius: 4px;
padding:5px;
text-align:center;

}

button {float: center;
  width:15%;
  border:1px solid grey;
  border-radius: 4px;
padding:5px;
text-align:center;

}

.form-horisontal{
margin-top: 365px;
margin-bottom: 365px;
margin-left: 400px;
margin-right: 100px;
}
