.DS_Store
/config/
/node_modules/
pocketguide.code-workspace
/databases/scripts/local-dynamo-crud/node_modules
/databases/scripts/dynamo-serverless/node_modules
/databases/scripts/dynamo-serverless/deployment/node_modules
serverless/production-ready-serverless-course/big-mouth/serverless.yml
serverless/production-ready-serverless-course/big-mouth/node_modules
/tests/mocha-tests/node_modules
/tests/treehouse_battleship-engine/node_modules
/tests/rocket-shop/node_modules
.vscode