.DS_Store
/config/
/node_modules/
pocketguide.code-workspace
/databases/scripts/local-dynamo-crud/node_modules
/databases/scripts/dynamo-serverless/node_modules
/databases/scripts/dynamo-serverless/deployment/node_modules