img {
    max-width: 100%;
}
.story .art {
    width: 100%;
}
main {
    background: url( "../img/footprint.svg" ) no-repeat;
    background-size: 30% auto;
    background-position: 95% 1em;
    background-attachment: fixed;
}
.intro-art {
    height: 100%;
    object-fit: cover;
}
